@use './normalize';
@use './reset';
@import './layout';
@import './mixins';
@import './palette';

@mixin test {
  background: blue;
}

html[data-theme='light'] {
  --test-color: green;
}

html[data-theme='dark'] {
  background: gray;
}

#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 2px;
    background-color: #29d;
    opacity: 0.75;
  }
}
